* {
    font-family: ComicTypo;
    box-sizing: border-box;
    --primary-color: #583a00;
    --secondary-color: #83ffcb;
    --border-radius: 20px;
}

html, body, #root {
  height: 100%;
}

body {
    margin: 0 auto;
    font-size: 1.5em;
    background-color: var(white);
}

a {
    text-decoration: none;
    color: #032055;
}

.apps-bar-container {
    --apps-bar-primary-color: var(--secondary-color) !important;
    --apps-bar-secondary-color: var(--primary-color) !important;
    --apps-bar-text-primary-color: white !important;
    --apps-bar-text-secondary-color: black !important;
}
